body { 
  background-color: #A2B59C;
  color: white;
  font-size: 1.7em;
}

a {
  color: #F2B335;
}

button#btn {
  border-radius: .5em;
  color: white;
  width: 7em;
  height: 2em;
  font-size: .75em;
  cursor: pointer;
  border: .1em solid;
  border-color: white;
}

button#btn:hover {
  background-color: transparent;
}

div#loading-page {
  top: 40.7%;
  left: 47.65%;
  text-align: center;
  position: absolute;
}

div.loading  {
  margin-top: 3%;
  text-align: center;
}

ul li.choice-list  { 
  list-style: none;
  float: left;
  margin: 0 .6em .5em 0;
  border: solid;
  padding: .3em;
  width: 1.4em;
  height: 1.8em;
  border-radius: .25em;
  color: white;
  cursor: pointer;
  background-color: #F2B335;
  text-align: center;
}

ul li.diasbled {
  background-color: transparent;
  pointer-events: none;
  cursor: none;
}

li#correct-guess {
  border-color: white;
  background-color: #9ccc65;
}

li#wrong-guess {
  border-color: white;
  background-color: #ef5350;
}

li#game-over {
  background-color: transparent;
}

#container.container{
  text-align: center;
  width: 85%
}

#btn.difficulty {
  background-color: #F2B335;
}

#btn.restart, .hint, .guess {
  background-color: #009688;
}

#gameBoard {
  display: none;
}

#walking-man {
  float: left;
}

.game-on {
  display: none;
}

.hover-control:hover {
  background-color: transparent;
}

.dash-guesses {
  padding: .5em;
  font-size: .8em;
}

.choice-container {
  left: 14%
  width: 85%;
  float: left;
  position: relative;
  text-align: center;
}

.guesses {
  font-size: .6em;
  margin-top: .2em;
}
